

body {
    display: flex;
    justify-content: center;
    background-color: #000417;
    /* background-image: url("./tileable-wood-colored.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 360px;
    background-color: rgba(139, 139, 139, 0.938);
    border: 1px solid black;
    border-radius: 4px;
    padding: 16px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
